@using NinjaMvc.Model
@using System.Collections.Generic
@model IEnumerable<Ninja>
@{
    ViewData["Title"] = "Ninja Page";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@foreach(Ninja ninja in Model){
    <h3>@ninja.Name</h3>
}
